[package]
name = "dmcfe"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benchmarks"
harness = false

[dependencies]
bls12_381 = {git = "https://github.com/Cosmian/bls12_381.git", branch = "implement_commutativity"}
rand = "0.8.4"
sha2 = "0.9.5"
generic-array = "0.14.4"
eyre = "0.6.5"
subtle = "2.4.1"
num = "0.4.0"
